* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.btn-calcular {
    margin-top: 10px;
    padding: 5px 60px;
    border-radius: 5px;
    border-color: #0000;
    background-color: #f1f5f2;
}

.btn-calcular:hover {
    background-color: #b3b4b3;
}

.main {
    margin: auto;
    background-color: #6E633D;
    border-radius: 20px;
    padding: 10px;
    width: 600px;
}

.res {
    margin-top: 10px;
    background-color: #C2A878;
    border-radius: 5px;
    padding: 5px;
}

input {
    padding: 4px;
    border: none;
    border-radius: 5px;
}